.idea
.junie
.env
.DS_Store
k8s/base/secrets.yaml
k8s/certs
hetzner/app/secrets-patch.yaml
k8s/hetzner/app/secrets-patch.yaml
k8s/hetzner/app-chocolate/secrets-patch.yaml
k8s/hetzner/secrets.info
k8s/hetzner/app-multi/secrets-patch.yaml