.idea
.junie
.env
.DS_Store
k8s/base/secrets.yaml
k8s/certs
hetzner/app/secrets-patch.yaml
cloud/hetzner/app/secrets-patch.yaml
cloud/hetzner/app-chocolate/secrets-patch.yaml
cloud/hetzner/secrets.info